<configuration>
  <appSettings>
    <add key="URL" value="http://mantis-prova.base2.com.br/login_page.php"/>
    <add key="DataPath" value="C:\Users\Dudu\Desktop\UnitTestProject1\UnitTestProject1\Data\users.xlsx"/>
    <add key="ScreeDir" value="C:\Users\Dudu\Desktop\UnitTestProject1\UnitTestProject1\Screenshot\"/> 
  </appSettings>
</configuration>

